<h1>PC Builds</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>CPU</th>
      <th>GPU</th>
      <th>RAM</th>
      <th>Storage</th>
      <th>Motherboard</th>
      <th>Price</th>
    </tr>
  </thead>
  <tbody>
    <% @build_pcs.each do |build| %>
      <tr>
        <td><%= build.name %></td>
        <td><%= build.cpu %></td>
        <td><%= build.gpu %></td>
        <td><%= build.ram %></td>
        <td><%= build.storage %></td>
        <td><%= build.mobo %></td>
        <td><%= number_to_currency(build.price) %></td>
        <td>
             <%= button_to 'Delete', build_pc_path(build), method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
