
<% size = "350x300"%>

<h1><%= link_to image_tag("accessories/keyboard_icon.jpeg", alt: "Keyboard_img", size: size), keyboards_path %></h1>
<h1><%= link_to image_tag("accessories/mouse_icon.png", alt: "Mouse_img", size: size), mouses_path %></h1>
<h1><%= link_to image_tag("accessories/chair_icon.jpeg", alt: "Chair_img", size: size), chairs_path %></h1>
<h1><%= link_to image_tag("accessories/webcam_icon.jpg", alt: "Webcam_img", size: size), webcams_path %></h1>
<h1><%= link_to image_tag("accessories/headset_icon.png", alt: "Headset_img", size: size), headsets_path %></h1>
<h1><%= link_to image_tag("accessories/monitor_icon.jpeg", alt: "Monitor_img", size: size), monitors_path %></h1>
