<h1>FastPCs</h1>

<p>
    <%= link_to 'Login', login_path %>
</p>

<p>
    <%= link_to 'Cart', cart_path %>
</p>

<p>
    <%= link_to 'Build Your PC', build_path %>
</p>

<p>
    <%= link_to 'Accessories', accessories_path %>
</p>

<p>
    <%= link_to 'Ready to Ship', readytoship_path %>
</p>