<div class="accessory-show-container">
  <div class="accessory-image-wrapper">
    <%= image_tag @accessory.image, alt: @accessory.name, class: 'accessory-show-image' %>
  </div>

  <div class="accessory-details">
    <h1 class="accessory-name"><%= @accessory.name %></h1>
    <p class="accessory-price">$<%= @accessory.price %></p>
    <p class="accessory-description"><%= @accessory.description %></p>

    <%= button_to "Add to Cart", cart_items_path(product_id: @accessory.product.id), method: :post, class: 'btn-cart' %>
  </div>
</div>
