<!DOCTYPE html>
<html>
  <head>
    <title>ProjectTemplate</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>

 

<nav class="main-nav">
    <div class="nav-left">
      <%= link_to "Home", home_path, class: "nav-item" %>

      <% if user_signed_in?%>
        <%=  link_to 'Cart', cart_path, class: 'nav-item' %>
      <% end%>
    </div>


    <div class="nav-right">
      <% if user_signed_in? %>
        <span class="nav-item">Welcome <%= current_user.username %></span>
        <%= button_to "Sign Out",
                      destroy_user_session_path,
                      method: :delete,
                      class: "nav-item nav-button" %>
      <% else %>
        <%= link_to "Login",
                    new_user_session_path,
                    class: "nav-item" %>
        <%= link_to "Sign Up",
                    new_user_registration_path,
                    class: "nav-item" %>
      <% end %>
    </div>
  </nav>



      <%= yield %>
    </main>
  </body>
</html>
